html.dark body .div-pro-id-mt,
html.dark body .div-profile-container .main-body .div-row-profile .profile-div-prop-col .card,
html.dark body .div-profile-container .main-body .div-row-profile .profile-div-prop-col .card .row .div-text-pro span,
html.dark body .div-edit-pro-cont .main-body .gutters-sm .form-pro-edit,
html.dark body .card .card-body hr,
html.dark body .nav-pro-mopile,
html.dark body .offcanvas-title,
html.dark body .username,
html.dark body .grade-th,
html.dark body .div-create-tayo .card-body,
html.dark body .grade-th a,
html.dark body .fullbody,
html.dark body .toast-header,
html.dark body .input-form-kashkol,
html.dark body .text-light,
html.dark body .dates,
html.dark body .text-icon-inform,
html.dark body .form-label,
html.dark body .input-creat-information,
html.dark body .input-creat-information::placeholder,
html.dark body .h1-post-id,
html.dark body .div-card-user div h2,
html.dark body .div-card-user table tbody tr th a,
html.dark body .div-card-user table tbody tr td,
html.dark body .session-card .card-body div h2,
html.dark body .session-card .card-body .dropdown ul button li a,
html.dark body .div-one-grade main h4,
html.dark body .div-one-grade main hr,
html.dark body .div-one-grade main h5,
html.dark body .div-one-grade main div,
html.dark body .container .attendance-div-cont .attendance-div-col .attendance-div-card .attendance-div-card-body .attendance-div-prop #v-pills-tabContent #v-pills-grades table thead tr th,
html.dark body .container .attendance-div-cont .attendance-div-col .attendance-div-card .attendance-div-card-body .attendance-div-prop #v-pills-tabContent #v-pills-grades table tbody tr th,
html.dark body .container .attendance-div-cont .attendance-div-col .attendance-div-card .attendance-div-card-body .attendance-div-prop #v-pills-tabContent #v-pills-grades table tbody tr grade-th,
html.dark body .container .attendance-div-cont .attendance-div-col .attendance-div-card .attendance-div-card-body .attendance-div-prop #v-pills-tabContent #v-pills-grades table tbody tr grade-th,
html.dark body .container .attendance-div-cont .attendance-div-col .attendance-div-card .attendance-div-card-body .attendance-div-prop #v-pills-tabContent #v-pills-grades table tbody tr a,
html.dark body .h1-tinymce-editor,
html.dark body .showsorting-dark-text,
html.dark body .card-create-info-div,
html.dark body .session-card,
html.dark body .session-card .card-body .dropdown button,
html.dark body .session-card .card-body .dropdown ul,
html.dark body #collectAttendance form .modal-dialog .modal-content .modal-header,
html.dark body #collectAttendance form .modal-dialog .modal-content div button i,
html.dark body #create-post-form label,
html.dark body #sortingModal .modal-dialog .modal-content .modal-header,
html.dark body #booksortingModal .modal-dialog .modal-content .modal-header,
html.dark body #booksortingModal .modal-dialog .modal-content .modal-header button i,
html.dark body #bookModal .modal-dialog .modal-content .modal-header,
html.dark body #bookModal .modal-dialog .modal-content .modal-header button i,
html.dark body .container .box .info h5,
html.dark body #sortingModal .modal-dialog .modal-content .modal-header button i,
html.dark body .book-dark-dropdown .book-dark-button,
html.dark body .book-dark-div,
html.dark body .container .box h3,
html.dark body .container .box i,
html.dark body #aboat .info .box .text,
html.dark body .container .text p,
html.dark body .container .text h1,
html.dark body #createSession form .modal-dialog .modal-content .modal-header,
html.dark body #createSession form .modal-dialog .modal-content .modal-header div button i,
html.dark body #createGrade form .modal-dialog .modal-content .modal-header,
html.dark body #createGrade form .modal-dialog .modal-content .modal-header div button i,
html.dark body .div-create-session form .modal-dialog .modal-content .modal-header h2,
html.dark body .div-create-session form .modal-dialog .modal-content .modal-body .mb-3 label,
html.dark body .div-create-session form .modal-dialog .modal-content .modal-body label,
html.dark body .card-kash-oro,
html.dark body .navbar .auth-dark,
html.dark body .navbar .i-dropdown-dark,
html.dark body .navbar .navbar-toggler .but-togger-bars,
html.dark body .to-top.active,
html.dark body .mce-content-body,
html.dark body .div-create-session form .modal-dialog .modal-content .modal-body .mb-3 .form-floating .tox-tinymce .tox-editor-container .tox-sidebar-wrap .tox-edit-area #post-editor_ifr .mce-content-body::before,
html.dark body,
html.dark body .card-create-user .card-body h2,
html.dark body .li-toast,
html.dark body .mce-content-body::before,
html.dark body .offcanvas-header button,
html.dark body .post-actions .edit i,
html.dark body .post-actions .delete i,
html.dark body .post-actions button,
html.dark body .card-body #accordionExample .accordion-item #headingfive button,
html.dark body .card-body #accordionExample .accordion-item #headingOne button,
html.dark body .card-body #accordionExample .accordion-item #headingTwo button,
html.dark body .card-body #accordionExample .accordion-item #collapseOne,
html.dark body .card-body #accordionExample .accordion-item #collapseTwo,
html.dark body .card-body #accordionExample .accordion-item #headingThree button,
html.dark body .card-body #accordionExample .accordion-item #collapseThree,
html.dark body .button-attendance,
html.dark body .th-grade,
html.dark body .input-create-users,
html.dark body .input-create-users:active,
html.dark body .input-create-users:focus,
html.dark body .input-create-users::placeholder,
html.dark body .input-text-edit-sorting,
html.dark body .card-sorting-edit .card-body h3,
html.dark body .modal-dialog .modal-content .modal-body #session-id,
html.dark body .modal-dialog .modal-content .modal-body ul .list-group-item,
html.dark body .modal-dialog .modal-content .modal-body .mb-3 .input-create-grade::placeholder ,
html.dark body .div-create-session .form-create-session .modal-dialog .modal-content .modal-body .mb-3 .input-session-title::placeholder ,
html.dark body .div-create-session .form-create-session .modal-dialog .modal-content .modal-body .mb-3 .form-floating .textarea-point-create-session::placeholder,
html.dark body .input-form-kashkol::placeholder,
html.dark body .textarea-Kashkol::placeholder,
html.dark body .textarea-Kashkol,
html.dark body .div-create-session .form-create-session .modal-dialog .modal-content .modal-body .mb-3 .form-floating .textarea-point-create-session,
html.dark body .modal-dialog .modal-content .modal-body .mb-3 .input-create-grade,
html.dark body .div-create-session .form-create-session .modal-dialog .modal-content .modal-body .form-select,
html.dark body .btn-sorting-a,
html.dark body .btn-sorting-h,
html.dark body .toast-body,
html.dark body .image_src,
html.dark body .kashkol-create-color,
html.dark body .bt-session-copy,
html.dark body .name-show-sorting,
html.dark body .input-session-title,
html.dark body .card,
html.dark body .tayo-input,
html.dark body .book-dark-dropdown .book-dark-dropdown-menu .dropdown-item
 {
    color: white !important;
}
html.dark body .card-subtitle{
    color: white !important;
}

html.dark body .inform-i-backcolor{
    background-color: #006ec5 !important;
}
html.dark body .div-round-tiym {
    border: none;
}

html.dark body .nav-pro-mopile:hover{
    background-color: #0f192f !important;
}

html.dark body .accordion-button::after {
    background-image: url(http://127.0.0.1:8000/image/Arrow.svg) !important;
}

html.dark body.accordion-button::after , html.dark body .select-wrapper {
    background: url('http://127.0.0.1:8000/image/image-solid.svg') no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    width: 33px !important;
    height: 26px !important;
}

html.dark body .to-top.active,
html.dark body,
html.dark body .post,
html.dark body .offcanvas-body .nav-pro-mopile:hover,
html.dark body .div-round-tiym .tinymce-editor-create form .div-tinymce-editor-create .button-div-tinymce-editor-create,
html.dark body .btn-div-create-kash,
html.dark body .card-kash-oro:hover,
html.dark body .div-one-grade main div div,
html.dark body .btn-show-grade:hover,
html.dark body .card-body #accordionExample .accordion-item #collapsefive,
html.dark body .card-body #accordionExample .accordion-item #collapseOne,
html.dark body .card-body #accordionExample .accordion-item #collapseTwo,
html.dark body .card-body #accordionExample .accordion-item #collapseThree,
html.dark body .session-card .card-body .dropdown ul button li a:hover,
html.dark body .button-attendance,
html.dark body .input-text-edit-sorting,
html.dark body #collectAttendance form .modal-dialog .modal-content .modal-header,
html.dark body #collectAttendance form .modal-dialog .modal-content div button i,
html.dark body .modal-dialog .modal-content .modal-body ul .list-group-item,
html.dark body .modal-dialog .modal-content .modal-footer,
html.dark body .modal-dialog .modal-content .modal-footer button:hover,
html.dark body #createGrade form .modal-dialog .modal-content .modal-header,
html.dark body .modal-dialog .modal-content .modal-body .mb-3 .input-create-grade,
html.dark body .div-create-session .form-create-session .modal-dialog .modal-content .modal-body .mb-3 .input-session-title,
html.dark body .div-create-session .form-create-session .modal-dialog .modal-content .modal-body .form-select,
html.dark body .div-create-session .form-create-session .modal-dialog .modal-content .modal-body .mb-3 .form-floating .textarea-point-create-session,
html.dark body .input-form-kashkol,
html.dark body .posts-container,
html.dark body .btn-sorting-a,
html.dark body .card-sorting,
html.dark body .btn-dang-sorting,
html.dark body .card-sorting,
html.dark body .toast-body,
html.dark body .input-creat-information,
html.dark body .bt-session-copy:hover ,
html.dark body .card,
html.dark body .tayo-input,
html.dark body .input-create-users,
html.dark body .book-dark-dropdown .book-dark-dropdown-menu .dropdown-item:hover
{
    background-color: #1f2937 !important;
}

html.dark .navbar,
html.dark .navbar ul.dropdown-menu,
html.dark body .div-round-tiym,
html.dark body .post,
html.dark body .card-create-info-div,
html.dark body .i-session-warning,
html.dark body .post-actions button,
html.dark body .div-create-kash,
html.dark body .div-round-tiym .tinymce-editor-create form .div-tinymce-editor-create .button-div-tinymce-editor-create:hover,
html.dark body .btn-div-create-kash:hover,
html.dark body .card-kash-oro,
html.dark body .div-one-grade main,
html.dark body .btn-show-grade,
html.dark body .session-card,
html.dark body .div-create-tayo .div-gb-tayo,
html.dark body .session-card .card-body .dropdown button,
html.dark body .card-body #accordionExample .accordion-item #headingfive button,
html.dark body .card-body #accordionExample .accordion-item #headingOne button,
html.dark body .card-body #accordionExample .accordion-item #headingTwo button,
html.dark body .card-body #accordionExample .accordion-item #headingThree button,
html.dark body .session-card .card-body .dropdown ul,
html.dark body .div-cont-attendance,
html.dark body .div-cont-attendance .div-color-attendance,
html.dark body .button-attendance:hover,
html.dark body .modal-dialog .modal-content .modal-body,
html.dark body .modal-dialog .modal-content .modal-body #session-id,
html.dark body .modal-dialog .modal-content .modal-footer button,
html.dark body .div-create-session,
html.dark body .book-dark-div,
html.dark body .kashkol-create-d-mt,
html.dark body .kashkol-create-b-g-r-d,
html.dark body .card-sorting-edit,
html.dark body .card-show-sorting,
html.dark body .card-body-sorting,
html.dark body .toast-header,
html.dark body .card-body,
html.dark body .div-create-tayo .card-body,
html.dark body .container .main-body .gutters-sm .div-profile-id-col .card .card-body,
html.dark body .div-card-user,
html.dark body input-creat-information,
html.dark body .card-create-user,
html.dark body .bt-session-copy,
html.dark body .div-card-library,
html.dark body .auth-form,
html.dark body .book-dark-dropdown .book-dark-button,
html.dark body .book-dark-dropdown .book-dark-dropdown-menu

{
    background: #0f172a !important;
}



html.dark body .to-top.active,
html.dark body .div-create-tayo,
html.dark body .div-card-user,
html.dark body .btn-div-create-kash:hover,
html.dark body .button-attendance:hover,
html.dark body .modal-dialog .modal-content .modal-footer button:hover,
html.dark body .btn-sorting-a:hover,
html.dark body .btn-dang-sorting:hover
{
    border: 1px solid white !important;
}


html.dark body .session-card .card-body .dropdown ul button li a:hover,
html.dark body .container .box .info h5,
html.dark body .container .box .info,
html.dark body .container .box h3,
html.dark body .container .box i,
html.dark body .container .box,
html.dark body .spikes::after,
html.dark body #aboat .info .box::before,
html.dark body #aboat .info .box .text,
html.dark body #aboat .info .box,
html.dark body #aboat,
html.dark body .container .text p,
html.dark body .container .text h1,
html.dark body,
html.dark .navbar .search-form input[type="search"],
html.dark .navbar .search-form button[type="submit"],
html.dark body .div-round-tiym .tinymce-editor-create form .div-tinymce-editor-create .button-div-tinymce-editor-create:hover,
html.dark body .div-round-tiym .tinymce-editor-create form .div-tinymce-editor-create .button-div-tinymce-editor-create,
html.dark body .btn-div-create-kash,
html.dark body .card-kash-oro:hover,
html.dark body .btn-show-grade,
html.dark body .btn-show-grade:hover,
html.dark body .button-attendance:hover,
html.dark body .modal-dialog .modal-content .modal-footer button:hover ,
html.dark body .modal-dialog .modal-content .modal-footer button:hover ,
html.dark body .card-body-sorting:hover,
html.dark body .sorting-container-div .row .col-sm .card:hover,
html.dark body .btn-sorting-a:hover,
html.dark body .btn-dang-sorting:hover,
html.dark body .nav-pro-mopile:hover,
html.dark body .div-round-tiym
{
    transition: 0.3s all ease-in-out;
}
